html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body, button, input {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

::-moz-selection {
color: #FFFFFF;
background-color: #81B3D2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
  min-height: 57px;
  padding-left: 73px;
  padding-right: 73px;
}

.main-menu {
  min-height: 56px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 17px;
  width: 239px;
}

.main-menu li:nth-child(n+2) {
  float: right;
  text-align: right;
}

.main-menu li:nth-child(-n+2) {
  float: left;
  text-align: left;
}

.main-menu a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.main-menu a:hover {
  color: #81B3D2;
}

.main-menu a:active {
  color: rgba(0, 0, 0, 0.3)
}

.active-page a {
  color: #766357;
}

.logo {
  position: absolute;
  margin-left: 0;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.intro {
  padding-top: 74px;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
  background-image: url("../img/intro-bottom.png"), url("../img/intro.jpg");
  background-size: 1200px 57px, 1200px 773px;
  background-repeat: no-repeat, no-repeat;
  background-position: center 451px, center -56px;
}

.intro-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-left: 320px;
  margin-right: 320px;
}

.intro-reason {
  margin-top: 78px;
  padding-top: 42px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.intro-reason p {
  font-size: 14px;
  line-height: 42px;
}

.reason-item {
  min-height: 256px;
  margin: 0;
  background-color: #81B3D2;
}

.reason-img-right {
  float: right;
  color: #000000;
  background-color: #ffffff;
}

.reason-img-left {
  float: left;
  color: #000000;
  background-color: #eeeeee;
}

.reason-disc {
  display: block;
  float: left;
  width: 400px;
  color: #ffffff;
  text-align: center;
}

.reason-title {
  margin-left: 125px;
  margin-right: 124px;
  margin-top: 48px;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.reason-disc p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 22px;
  margin-left: 49px;
  margin-right: 49px;
}

.group1 .reason-title {
  color: #000000;
  margin-top: 160px;
}

.group2 .reason-title {
  color: #000000;
  margin-top: 46px;
}

.group1 p {
  margin-bottom: 82px;
}

.group2 p {
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.group1 p,
.group2 p,
.group1 span,
.group2 span {
  color: #333333;
}

.group1 {
  background-color: #ffffff;
}

.group2 {
  background-color: #eeeeee;
}

.group1:nth-child(1) {
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-position: 162px 62px;
}

.group1:nth-child(2) {
  background-image: url("../img/meal.png");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.group1:nth-child(3) {
  background-image: url("../img/souvenir.png");
  background-repeat: no-repeat;
  background-position: 167px 54px;
}


.decision {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  background-color: #ffffff;
}

.decision-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 26px;
}

.decision p {
  font-size: 14px;
  line-height: 24px;
}

.decision a {
  display: block;
  margin: 48px auto 0 auto;
  padding-top: 30px;
  width: 568px;
  height: 56px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #766357;
}

.decision a:hover {
  background-color: #604E44;
}

.decision a:active {
  color: #928B85;
  background-color: #503E32;
}

.main-footer {
  width: 100%;
  min-height: 590px;
  margin: 0 auto;
  background-color: #CBE6A3;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 590px;
  position: relative;
}

.modal-search-form {
  display: none;
  width: 456px;
  height: 285px;
  position: absolute;
  top: 0;
  left: 316px;
  margin: 0 auto;
  margin-bottom: 78px;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.modal-search-form-show {
  display: block;
  animation-name: modal-down;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@-webkit-keyframes modal-down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(78px);
            transform: translateY(78px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes modal-down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(78px);
            transform: translateY(78px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.conteiner-field {
  height: 38px;
  margin-bottom: 29px;
  font-size: 0;
}

.conteiner-field label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.modal-search-form input[type="text"] {
  font-size: 14px;
  font-weight: bold;
}

.calendar {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
  width: 345px;
  border: none;
  position: relative;
}

.departure  {
  margin-left: 19px;
}

.calendar:hover {
  background-color: #EBEBEB;
}

.calendar input {
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  padding-left: 12px;
}

.calendar input:hover {
  background-color: #EBEBEB;
}

.calendar input:focus {
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
}

.calendar-btn {
  float: right;
  width: 21px;
  height: 22px;
  border: none;
  font-size: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.calendar-btn:hover {
  background-position: -5px -37px;
}

.calendar-btn:active {
  background-position: -5px -69px;
}

.amount {
  width: 114px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
  font-size: 0;
  position: relative;
}

.people {
  margin-left: 38px;
  margin-right: 53px;
}

.child {
  float: right;
}

.amount-btn {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  font-size: 0;
  border: 2px solid transparent;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.minus-btn {
  float: left;
  background-position: -5px -529px;
}

.plus-btn {
  float: right;
  left: 77px;
  background-position: -5px -673px;
}

.minus-btn:hover {
  background-position: -5px -577px;
}

.minus-btn:active {
  background-position: -5px -625px;
}

.plus-btn:hover {
  background-position: -5px -721px;
}

.plus-btn:active {
  background-position: -5px -769px;
}

.amount input {
  width: 34px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 38px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  text-align: center;
}

.amount input:hover {
  background-color: #ebebeb;
}

.amount input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-btn {
  width: 458px;
  height: 58px;
  margin-top: 25px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #81B3D2;
  border: none;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #669EC1;
}

.search-btn:active {
  color: #99B9D2;
  background-color: #5596BE
}


.footer-bottom {
  width: 1200px;
  height: 120px;
  font-size: 0;
  background-color: rgba(249,251,246, 0.9);
  position: absolute;
  bottom: 0;
}

.footer-hotel {
  position: relative;
}

.footer-hashtag {
  display: inline-block;
  width: 400px;
  padding-bottom: 4px;
  text-align: center;
  vertical-align: middle;
}

.footer-hashtag a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-hashtag a:hover {
  color: #78B0D5;
}

.footer-hashtag a:active {
  color: #C8C8C8;
}

.footer-social {
  display: inline-block;
  width: 398px;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  padding-left: 2px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-top: 36px;
  margin-bottom: 36px;
  background-color: #81B3D2;
  position: relative;
  }

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #669EC0;
}

.social-btn:active::before {
  opacity: 0.3;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -5px -817px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -5px -353px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -5px -902px;
}


.footer-copyright {
  display: inline-block;
  width: 298px;
  height: 39px;
  margin-top: 10px;
  padding-left: 102px;
  text-align: left;
  vertical-align: middle;
}

.footer-copyright a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #010101;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright a::after {
  content: "";
  position: absolute;
  left: 83px;
  top: -5px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -5px -382px;
}

.footer-copyright a:hover::after {
  width: 113px;
  height: 39px;
  background-position: -5px -431px;
}

.footer-copyright a:active::after {
  width: 113px;
  height: 39px;
  background-position: -5px -480px;
}



/* внутренняя страница Гостиницы Седоны */

.form-search-hotel {
  min-height: 190px;
  padding-top: 25px;
  background-color: #F2F2F2;
  background-image: url("../img/intro2.jpg");
  background-position: 0 -50px;
}

.form-search-hotel fieldset {
  border: none;
}

.form-search-hotel legend {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.form-group1,
.form-group2 {
  float: left;
  margin-left: 72px;
  margin-bottom: 30px;
  padding: 0;
  width: 180px;
}

input[type="checkbox"] + label {
  display: block;
  margin: 0;
  margin-top: 25px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  padding-left: 41px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -133px;
}

input[type="checkbox"] + label:hover::before {
  background-position: -5px -165px;
}

input[type="checkbox"]:checked + label::before {
  background-position: -5px -101px;
}

input[type="checkbox"]:checked + label:hover::before {
  background-position: -5px -229px;
}

input[type="checkbox"]:checked:disabled + label::before {
  background-position: -5px -261px;
}

input[type="checkbox"]:disabled + label::before {
  background-position: -5px -197px;
}

input[type="checkbox"] {
  display: none;
}

.form-group3 {
  float: right;
  margin-right: 72px;
  padding: 0;
  width: 317px;
  text-align: center;
}

.cost {
  width: 313px;
  height: 30px;
  margin: 11px 0;
  padding-top: 2px;
  border: 2px solid #fefefe;
  border-radius: 2px;
  position: relative;
}

.cost::after {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fefefe;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cost label {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  float: left;
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  line-height: 27px;
  cursor: pointer;
}

.cost input {

  float: left;
  width: 70px;
  padding-left: 2px;
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  border: none;
  background: none;
}

.range {
  height: 22px;
  margin-bottom: 21px;
  font-size: 0;
  position: relative;
  cursor: pointer;
}

.range span {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.3);
}

.range-left {
  left: 0;
}

.range-right {
  right: 45px;
}

.range span:hover {
  background-color: #1C4F80;
}

.range-right::before {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  width: 48px;
  height: 1px;
  border-bottom: 2px solid #918381;
}

.range-left::before {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  width: 260px;
  height: 1px;
  border-bottom: 2px solid #ffffff;
}

.btn-form {
  margin-right: 10px;
  padding: 6px 34px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  background: transparent;
  border: 2px solid #fefefe;
  border-radius: 2px;
  cursor: pointer;
}

.btn-form:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  height: 74px;
  padding-top: 14px;
  padding-left: 72px;
  padding-right: 72px;
  font-size: 0;
  background-color: #FEFEFE;
  border-bottom: 1px solid #E5E5E5;
}

.sort > * {
  display: inline-block;
  vertical-align: middle;
}

.sort-title {
  width: 125px;
  margin-right: 40px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.name-sort {
  width: 75px;
  margin-right: 39px;
  font-size: 12px;
  line-height: 18px;
}

.criterions a {
  margin-right: 33px;
  color: #D0D0D0;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #76B1CF;
}

.criterions a:first-child {
  color: #76B1CF;
  border-bottom: none;
}

.criterions a:hover {
  color: #76B1CF;
  border-bottom: 1px dotted #76B1CF;
}

.criterions a:active {
  color: #000000;
  border-bottom: none;
}

.sort-up, .sort-down {
  float: right;
  position: relative;
  cursor: pointer;
}

.sort-up::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 24px;
  width: 11px;
  height: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -842px;
}

.sort-down::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 11px;
  height: 10px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -293px;
}

.sort-up:hover::before {
  background-position: -5px -862px;
}

.sort-down:hover::before {
  background-position: -5px -313px;
}

.sort-up:active::before {
  background-position: -5px -882px;
}

.sort-down:active::before,
.sort-down-active::before {
  background-position: -5px -333px;
}

.home {
  height: 150px;
  padding-left: 72px;
  background-color: #FEFEFE;
  border-bottom: 1px solid #E5E5E5;
}

.home img {
  float: left;
  padding-top: 30px;
  color: #000000;
  background-color: #ffffff;
}

.home-container {
  float: left;
  width: 544px;
  padding-left: 30px;
  margin-top: 28px;
}

.home-title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
}

.home-title:hover {
  color: #78B0D5;
}

.home-title:active {
  color: #C8C8C8;
}

.description {
  float: left;
  width: 110px;
}

.type-home,
.order-price {
  font-size: 14px;
  line-height: 21px;
}

.description a,
.order a {
  display: block;
  width: 110px;
  height: 25px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  background-color: #81B3D2;
}

.description a:hover {
  background-color: #669EC1;
}

.description a:active {
  color: #92B8CD;
  background-color: #5596BE;
}

.order {
  width: 142px;
  float: left;
  margin-left: 6px;
}

.order a {
  width: 142px;
  background-color: #766357;
}

.order a:hover {
  background-color: #604E44;
}

.order a:active {
  color: #928B85;
  background-color: #503E32;
}

.rating {
  float: right;
  width: 110px;
  margin-right: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.rating-value {
  display: block;
  width: 110px;
  height: 27px;
  margin-top: 46px;
  text-align: center;
  color: #AAAAAA;
  font-size: 14px;
  line-height: 25px;
  background-color: #F2F2F2;
}

.stars {
  display: block;
  width: 110px;
  height: 17px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: right;
}

.star-four {
  background-image: url("../img/stars-4.png");
}

.star-three {
  background-image: url("../img/stars-3.png");
}

.star-two {
  background-image: url("../img/stars-2.png");
}
